@model Product
@{
    ViewData["Title"] = "Update";
}

<div class="updateproduct">
    @await Html.PartialAsync("_UpdateProductPartial",Model) 
</div>

@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}